.modal {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;

    .modal__content {
        margin: auto;
        background-color: #fff;
        border-radius: 10px;
        min-height: 100px;
        min-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}

input {
    padding: 10px;
    margin-right: 1rem;
}